<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>पेशवाई अमृततुल्य</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./static/assets/img/favicon.png" rel="icon">
    <link href="./static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="./static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eStartup - v4.2.0
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1><a href="index.html">
                <div style="color:red;">पेशवाई अमृततुल्य</div>
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about-us">About Us</a></li>
                <li><a class="nav-link scrollto" href="#features">Branches</a></li>
                <li><a class="nav-link scrollto" href="#screenshots">Franchise</a></li>
                <li><a class="nav-link scrollto" href="#team">Contact Us</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in" style="padding-top:200px">
        <h1>पेशवाई अमृततुल्यमध्ये आपले हार्दिक स्वागत आहे. </h1>
        <h2 style="font-size:25px;">स्वाद प्रेमाचा.. अस्सल मराठी संस्कृतीचा.. </h2>
        <img src="./static/assets/img/tea_logo.jpg" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">

    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Get Started Section ======= -->
    <!-- End Get Started Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
             <div class="section-title text-center">
                <h2><b>About Us</b></h2>

            </div>

            <div class="row justify-content-center">



                <div class="col-md-5 col-lg-3">
                    <img src="./static/assets/img/chetan2.jpg" alt="About" data-aos="zoom-in" data-aos-delay="100">
                </div>

                <div class="col-md-7 col-lg-5">
                    <div class="about-content" data-aos="fade-left" style="vertical-align: text-top;padding-top:0px;"
                         data-aos-delay="100">


                        <h2><span>कु. चेतन सतीश मोकल </span></h2>
                        <p style="font-size:25px;">पेशवाई अमृततुल्य, पेण (काळभैरव इंडस्ट्री)
                            <br>

                            मो. नं -9270985060/9822775060
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2><b>Branches</b></h2>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="./static/assets/img/coffee-cup.png" alt="img">
                        <h4>Pen,Raigad</h4>
                        <p style="color:black;">Address: S.T.Stand, Shop no.8, Kasturi plaza, opp. Pen, Pen, Maharashtra
                            402107</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="./static/assets/img/coffee-cup.png" alt="img">
                        <h4>Pali,Raigad</h4>
                        <p style="color:black;">Address: Near Shri Ballaleshwar Ashtvinayak Temple, Tal. Sudhagad, Pali, Maharashtra 410205</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="./static/assets/img/coffee-cup.png" alt="img">
                        <h4>Panvel,Raigad</h4>
                        <p style="color:black;">Address: Opposite to Dr Prabhakar Patwardhan Smruti Rugnaalay, 196/1, Ambedkar Rd, Old Panvel, Panvel, Navi Mumbai, Maharashtra 410206</p>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2><b>Franchise</b></h2>
                <h3>शाखा घेण्यासाठी खालील फॉर्म भरा. </h3>

            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>Address: S.T.Stand, Shop no.8, Kasturi plaza, opp. Pen, Pen, Maharashtra 402107</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <p>chetan.mokal1@gmail.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>9270985060
                                <br>
                                9822775060</p>

                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://twitter.com/chetanmokal75" target="_blank" class="twitter"><i
                                style="font-size:25px" class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/chetan.mokal1" target="_blank" class="facebook"><i
                                style="font-size:25px" class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/chetan_mokal.2304/" target="_blank" class="instagram"><i
                                style="font-size:25px" class="bi bi-instagram"></i></a>

                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="/send_message" method="post" >
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="mobile_number" id="mobile_number"
                                       placeholder="Mobile No" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>

                            <div class="text-center" style="padding-top:40px;">
                                <button type="submit"
                                        style="background: #71c55d;border: 0;padding: 10px 24px;color: #fff;transition: 0.4s;">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Screenshots Section -->

    <!-- ======= Video Section ======= -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2><b>Contact Us</b></h2>

            </div>

            <div class="row">

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="team-block bottom">
                        <img src="./static/assets/img/chetan.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <a href="https://twitter.com/chetanmokal75" target="_blank" class="twitter"><i
                                        style="font-size:25px" class="bi bi-twitter"></i></a>
                                <a href="https://www.facebook.com/chetan.mokal1" target="_blank" class="facebook"><i
                                        style="font-size:25px" class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/chetan_mokal.2304/" target="_blank"
                                   class="instagram"><i style="font-size:25px" class="bi bi-instagram"></i></a>

                            </ul>
                            <span> Chetan Satish Mokal</span>
                            <h4>9270985060/9822775060</h4>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="team-block bottom">
                        <img src="./static/assets/img/app.jpeg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <span>Satish Raghunath Mokal</span>
                            <h4>9273880369</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                    <div class="team-block bottom">
                        <img src="./static/assets/img/kak.jpeg" class="img-responsive" alt="img">
                        <div class="team-content">

                            <span>Vanita Satish Mokal</span>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Team Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer">


    <div class="copyrights">
        <div class="container">
            <p>Developed by: Prachi Rajendra Mokal (Fullstack Developer)</p>


        </div>
    </div>

</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="./static/assets/vendor/aos/aos.js"></script>
<script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./static/assets/vendor/php-email-form/validate.js"></script>
<script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="./static/assets/js/main.js"></script>

</body>

</html>